In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\zineb\Data Science\Projects\Bank Statement Bot\cleaned_bank_statement.csv")
df

,Date,Value Date,Particulars,Tran Type,Cheque Details,Withdrawals,Deposits,Balance,Dr/Cr,Month,Year
0,2023-04-27,2023-04-27,UPI IN/311758050505/8861843097@jupiteraxis\n/A...,TFR,NaN,NaN,250.0,250.0,Cr,04-2023,2023
1,2023-12-06,2023-12-06,FT IMPS/IFI/316316641590/DIVINE\nENTERPRISE/IM...,TFR,NaN,NaN,950.0,1200.0,Cr,12-2023,2023
2,2023-06-24,2023-06-24,UPIOUT/317523606163/8861843097@paytm/Sent\nvi/...,TFR,NaN,1000.0,NaN,200.0,Dr,06-2023,2023
3,2023-06-24,2023-06-23,SBINT:25-03-2023 to\n23-06-2023[77770126484589],TFR,NaN,NaN,2.0,202.0,Cr,06-2023,2023
4,2023-09-09,2023-09-09,UPIOUT/325215817888/Q281961035@ybl/Sent\nvia /...,TFR,NaN,190.0,NaN,12.0,Dr,09-2023,2023
...,...,...,...,...,...,...,...,...,...,...,...
65,2024-03-31,2024-01-04,UPIOUT/409296418015/upstoxsec@hdfcbank/UPI\n/6211,TFR,NaN,1500.0,NaN,931.1,Dr,03-2024,2024
66,2024-03-31,2024-01-04,UPIOUT/409293938565/ajeettraders@sbi/Sent\nvi/...,TFR,NaN,900.0,NaN,31.1,Dr,03-2024,2024
67,2024-03-31,2024-01-04,UPI IN/409208422414/mgh1306@okhdfcbank/UPI\n/0000,TFR,NaN,NaN,500.0,531.1,Cr,03-2024,2024
68,2024-03-31,2024-01-04,UPIOUT/409294275728/Q288767409@ybl/Sent\nvia /...,TFR,NaN,230.0,NaN,301.1,Dr,03-2024,2024
69,2024-03-31,2024-01-04,UPIOUT/409294317396/paytmqr1l3ibf6t01@payt\nm/...,TFR,NaN,20.0,NaN,281.1,Dr,03-2024,2024

In [5]:
df[['Withdrawals','Deposits']].max()

Withdrawals    6945.3
Deposits       7050.0
dtype: float64

In [7]:
df['Particulars'].str.extract('(UPI)(paytm)')[1].unique()

array([nan], dtype=object)

In [9]:
df['Month'].value_counts()

Month
03-2024    43
12-2023    11
11-2024     4
01-2024     3
10-2024     3
06-2023     2
09-2023     2
04-2023     1
02-2024     1
Name: count, dtype: int64

In [11]:
import pdfplumber

In [13]:
with pdfplumber.open(r"C:\Users\zineb\Downloads\Acc_Statement.pdf") as pdf:
    firstpage = pdf.pages[0]
    text = firstpage.extract_text()  
    table = firstpage.extract_tables()
    print(table)

[[['Date', 'Narration', 'Chq./Ref.No.', 'ValueDt', 'WithdrawalAmt.', 'DepositAmt.', 'ClosingBalance'], ['01/04/23\n01/04/23\n01/04/23\n02/04/23\n02/04/23\n04/04/23\n04/04/23\n05/04/23\n05/04/23\n06/04/23\n07/04/23\n07/04/23\n08/04/23\n09/04/23', 'UPI-THOMASSEKAR-GLACIERLVL20888@OKSBI-U\nTIB0003905-309145197143-LUNCH\nUPI-SIVAKUMAR\nM-SHIVAMSW@OKHDFCBANK-HDFC\n0000111-309145207101-UPI\nUPI-KIRANRAJSOLAI-FRANCISKIKI45@OKHDFC\nBANK-HDFC0001852-309154627921-HI\nUPI-SELVAMNAGARAJ252OKIC-SELVAMNAGARAJ25\n-2@OKICICI-UBIN0915033-345816733183-UPI\nUPI-LAZYPAYPRIVATELIMI-LAZYPAYPVTLTD.R\nZP@ICICI-ICIC0DC0099-309287396734-LAZYPA\nYREPAYMENT\nUPI-SRIMAHADEVENTERPRI-BHARATPE9072393\n4830@YESBANKLTD-YESB0YESUPI-309418379139\n-PAYTOBHARATPEME\nATW-541919XXXXXX4630-P3ENCE35-CHENNAI\nUPI-TEABREAK-PAYTMQR281005050101EMU3C98\nR01MS@PAYTM-PYTM0123456-309553845053-FOO\nD\nUPI-BIGBASKET-BIGBASKET1@PAYTM-PYTM01234\n56-309564806458-UPI\nUPI-MRSTHENMOZHIE-SILAMBUOSSS@OKSBI-ID\nIB000O026-346257382147-HI\nPOS541919XXXXXX4630SRIAMBIKASUPER\nUPI-GOOGLEINDIADIGITAL-PLAYSTORE-GAMES\n@AXISBANK-UTIB0000553-309712099919-UPI\nUPI-MASTERSAKTHIVIJAYA-SHAKTHIVIJAYKUM\nAR757@OKAXIS-IDIB000P180-346447306534-SE\nNTFROMPAYTM\nUPI-MRSTHENMOZHIE-SILAMBUOSSS@OKSBI-ID', '0000309145197143\n0000309145207101\n0000309154627921\n0000345816733183\n0000309287396734\n0000309418379139\n0000000000006577\n0000309553845053\n0000309564806458\n0000346257382147\n0000000000261486\n0000309712099919\n0000346447306534\n0000309942707541', '01/04/23\n01/04/23\n01/04/23\n02/04/23\n02/04/23\n04/04/23\n04/04/23\n05/04/23\n05/04/23\n06/04/23\n07/04/23\n07/04/23\n08/04/23\n09/04/23', '520.00\n100.00\n215.00\n1,969.00\n100.00\n500.00\n170.00\n259.62\n300.00\n244.00\n170.00\n374.00\n200.00', '550.00', '19,856.68\n20,406.68\n20,306.68\n20,091.68\n18,122.68\n18,022.68\n17,522.68\n17,352.68\n17,093.06\n16,793.06\n16,549.06\n16,379.06\n16,005.06\n15,805.06']]]

In [15]:
table[0][0]

['Date',
 'Narration',
 'Chq./Ref.No.',
 'ValueDt',
 'WithdrawalAmt.',
 'DepositAmt.',
 'ClosingBalance']

In [17]:
table[0]

[['Date',
  'Narration',
  'Chq./Ref.No.',
  'ValueDt',
  'WithdrawalAmt.',
  'DepositAmt.',
  'ClosingBalance'],
 ['01/04/23\n01/04/23\n01/04/23\n02/04/23\n02/04/23\n04/04/23\n04/04/23\n05/04/23\n05/04/23\n06/04/23\n07/04/23\n07/04/23\n08/04/23\n09/04/23',
  'UPI-THOMASSEKAR-GLACIERLVL20888@OKSBI-U\nTIB0003905-309145197143-LUNCH\nUPI-SIVAKUMAR\nM-SHIVAMSW@OKHDFCBANK-HDFC\n0000111-309145207101-UPI\nUPI-KIRANRAJSOLAI-FRANCISKIKI45@OKHDFC\nBANK-HDFC0001852-309154627921-HI\nUPI-SELVAMNAGARAJ252OKIC-SELVAMNAGARAJ25\n-2@OKICICI-UBIN0915033-345816733183-UPI\nUPI-LAZYPAYPRIVATELIMI-LAZYPAYPVTLTD.R\nZP@ICICI-ICIC0DC0099-309287396734-LAZYPA\nYREPAYMENT\nUPI-SRIMAHADEVENTERPRI-BHARATPE9072393\n4830@YESBANKLTD-YESB0YESUPI-309418379139\n-PAYTOBHARATPEME\nATW-541919XXXXXX4630-P3ENCE35-CHENNAI\nUPI-TEABREAK-PAYTMQR281005050101EMU3C98\nR01MS@PAYTM-PYTM0123456-309553845053-FOO\nD\nUPI-BIGBASKET-BIGBASKET1@PAYTM-PYTM01234\n56-309564806458-UPI\nUPI-MRSTHENMOZHIE-SILAMBUOSSS@OKSBI-ID\nIB000O026-346257382147-HI\nPOS541919XXXXXX4630SRIAMBIKASUPER\nUPI-GOOGLEINDIADIGITAL-PLAYSTORE-GAMES\n@AXISBANK-UTIB0000553-309712099919-UPI\nUPI-MASTERSAKTHIVIJAYA-SHAKTHIVIJAYKUM\nAR757@OKAXIS-IDIB000P180-346447306534-SE\nNTFROMPAYTM\nUPI-MRSTHENMOZHIE-SILAMBUOSSS@OKSBI-ID',
  '0000309145197143\n0000309145207101\n0000309154627921\n0000345816733183\n0000309287396734\n0000309418379139\n0000000000006577\n0000309553845053\n0000309564806458\n0000346257382147\n0000000000261486\n0000309712099919\n0000346447306534\n0000309942707541',
  '01/04/23\n01/04/23\n01/04/23\n02/04/23\n02/04/23\n04/04/23\n04/04/23\n05/04/23\n05/04/23\n06/04/23\n07/04/23\n07/04/23\n08/04/23\n09/04/23',
  '520.00\n100.00\n215.00\n1,969.00\n100.00\n500.00\n170.00\n259.62\n300.00\n244.00\n170.00\n374.00\n200.00',
  '550.00',
  '19,856.68\n20,406.68\n20,306.68\n20,091.68\n18,122.68\n18,022.68\n17,522.68\n17,352.68\n17,093.06\n16,793.06\n16,549.06\n16,379.06\n16,005.06\n15,805.06']]

In [1]:
from tabula import read_pdf

In [3]:
df = read_pdf(r"C:\Users\zineb\Downloads\Acc_Statement.pdf", pages="all")
print(df[0])

Failed to import jpype dependencies. Fallback to subprocess.
No module named 'jpype'

JavaNotFoundError: `java` command is not found from this Python process.Please ensure Java is installed and PATH is set for `java`